---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../styles/global.css'
import { ClientRouter } from 'astro:transitions'
import config from '../content/config/config.json'
import { type ConfigSeo } from '../../tina/__generated__/types'

interface Props {
  pageSeo: any
}

const globalSeo = config?.seo as ConfigSeo

const { pageSeo } = Astro.props

// build values
const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const title =
  pageSeo?.removeSiteName ?
    pageSeo.title
  : `${pageSeo.title} ${globalSeo.divider} ${globalSeo.siteName}`

const description = pageSeo.description || globalSeo.defaultDescription

const image = pageSeo.image || globalSeo.defaultImage
const imageUrl = new URL(image, Astro.url)

let robotsIndex = pageSeo.robots?.index ? 'index' : 'noindex'
const robotsFollow = pageSeo.robots?.follow ? 'follow' : 'nofollow'

// Override with global if set
robotsIndex = globalSeo.noIndex ? 'noindex' : 'index'
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="preload" href="/fonts/bright-webfont.woff" as="font" type="font/woff" crossorigin />
<!-- <link rel="preload" href="/fonts/bright-webfont.woff2" as="font" type="font/woff" crossorigin /> -->

<!-- Fonts -->
<link rel="preconnect" href="https://use.typekit.net/" />
<link rel="stylesheet" href="https://use.typekit.net/bub8oij.css" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
  rel="stylesheet"
/>

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={imageUrl} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={imageUrl} />

<meta name="robots" content={`${robotsFollow}, ${robotsIndex}`} />

<ClientRouter />
