---
import client from '@tina/__generated__/client'
import Error404 from '@components/Error404.astro'
import { getCollection } from 'astro:content'
import Layout from '@/src/layouts/Layout.astro'
import HeaderSimple from '@components/HeaderSimple.astro'
import '@styles/components/polaroidList.css'

const pageTitle = 'Our work'
const pageSubtitle = 'A selection of our finest homework'

let page
let data

try {
  data = await client.queries.page({ relativePath: 'work.mdx' })
  page = data.data.page
} catch (error) {
  console.error('Error fetching page data:', error)
  page = null
}

const projects = (await getCollection('project')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
)
---

{
  data ?
    <Layout pageSeo={page.seo}>
      <HeaderSimple title={pageTitle} subtitle={pageSubtitle} />

      <section
        class="section projects"
        data-accent-color="accent"
        data-background-color="neutral-soft"
      >
        <div class="container">
          <ul class="polaroidList">
            {projects.map((project) => (
              <li-card class="polaroidList__item">
                <perspective-card>
                  <a href={`/work/${project.id}/`} class="polaroid">
                    <div class="polaroid__inner">
                      <div class="polaroid__imageWrapper">
                        <img
                          width={690}
                          height={690}
                          src={project.data.mainImage}
                          alt={project.data.mainImageAlt}
                          class="polaroid__image"
                        />
                      </div>
                      <div class="polaroid__body">
                        <h3 class="polaroid__title">{project.data.title}</h3>
                        <p class="polaroid__subtitle">{project.data.subtitle}</p>
                      </div>
                    </div>
                  </a>
                </perspective-card>
              </li-card>
            ))}
          </ul>
        </div>
      </section>
    </Layout>
  : <Error404 />
}

<style>
  .projects {
    background-image: url('/images/graph-paper-1.png');
    background-position: center;
    background-repeat: repeat;
  }
</style>
